{{ if not .Site.IsServer }}
  {{ if fileExists ".firebaserc" }}
    <script type="application/javascript" defer src="/__/firebase/8.1.1/firebase-app.js"></script>
    <script type="application/javascript" defer src="/__/firebase/8.1.1/firebase-analytics.js"></script>
    <script type="application/javascript" defer src="/__/firebase/8.1.1/firebase-performance.js"></script>
    <script type="application/javascript" defer src="/__/firebase/init.js"></script>
    <script type="application/javascript" defer src="/firedocs.js"></script>
  {{ end }}
{{ end }}
