<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta charset="utf-8">
{{ template "_internal/opengraph.html" . }}
<meta name="description" content="{{ .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="application/javascript" defer src="/js/doctober.js"></script>
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
{{ if (fileExists "/img/icon.svg") }}
  <link rel="icon" type="image/svg+xml" href="/img/icon.svg">
{{ end }}
{{ if (fileExists "/img/icon.png") }}
  <link rel="apple-touch-icon" href="/img/icon.png">
{{ end }}
<link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
    type="text/css"
>
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
    type="text/css"
>
<link rel="stylesheet" type="text/css" href="/css/doctober.css">
<link rel="stylesheet" type="text/css" href="/css/chroma.css">
{{ if (fileExists "/static/css/style.css") }}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
{{ end }}
